src/main/mule/t02_get_list_of_filenames_from_FTP.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:ftp="http://www.mulesoft.org/schema/mule/ftp"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ftp http://www.mulesoft.org/schema/mule/ftp/current/mule-ftp.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<flow name="t02_mainFlow" doc:id="3e9fae8a-e678-4dab-ba0c-0a652a7df5ed" >
		<ftp:list doc:name="List files from FTP" doc:id="a2cc0253-e75e-44b0-b3e9-82a1c87c0cba" config-ref="FTP_Config2" directoryPath="#['/']"/>
		<ee:transform doc:name="Transform Message" doc:id="fa0bdf6c-7cb5-4c51-b5a9-95939caea1f0" >
			<ee:message >
				<ee:set-payload resource="mapping02.dwl" />
				<ee:set-attributes resource="mapping02.dwl" />
			</ee:message>
		</ee:transform>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="abcd8e4a-c594-4d85-b0b0-ef946ba1f980" type="FTP:ILLEGAL_PATH">
				<logger level="INFO" doc:name="Logger" doc:id="43442720-a7bb-4ccf-8c44-071223a917bf" message="#['Illegal path:' ++ (error.description default '')]"/>
			</on-error-propagate>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="7e1587e1-c552-44fb-96c2-359836d71d4a" type="ANY">
				<logger level="INFO" doc:name="Logger" doc:id="0eba5d21-2717-4102-b25d-daa886c82e74" message="#['An error occured: ' ++ (error.description default '')]"/>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
