src/main/mule/t03_read_one_selected_file_from_FTP.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:ftp="http://www.mulesoft.org/schema/mule/ftp"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ftp http://www.mulesoft.org/schema/mule/ftp/current/mule-ftp.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="t03_mainFlow" doc:id="67449296-c262-44ec-ab9b-1cdd00b6bf68" >
		<set-variable value="#[message.attributes.uriParams.fileName]" doc:name="Set Variable" doc:id="3e5e80a3-1be8-4bd3-8023-6f7baeaee23a" variableName="fileName"/>
		<ftp:read doc:name="Read" doc:id="786293ea-aef1-4d0b-8b26-d751ee0ad556" config-ref="FTP_Config2" path="#['/' ++ vars.fileName as String ++ '.json']"/>
		<error-handler>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="8b176056-736c-465f-b0f2-3ef234e04381" type="FTP:ACCESS_DENIED">
				<logger level="INFO" doc:name="Logger" doc:id="040e0dc5-fb4b-4d31-bc23-e12a232cfa49" message="#['Access denied: ' ++ (error.description default &quot;&quot;)]"/>
			</on-error-propagate>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="9bf00505-1a3c-41d5-aadb-ba4e5c70c8fc" type="ANY">
				<logger level="INFO" doc:name="Logger" doc:id="720f9f0c-3975-4176-8d7b-7547b3fc970e" message="#['An error occured: ' ++ (error.description default '')]"/>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
