src/main/mule/training_task01.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ftp="http://www.mulesoft.org/schema/mule/ftp" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:sockets="http://www.mulesoft.org/schema/mule/sockets"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/sockets http://www.mulesoft.org/schema/mule/sockets/current/mule-sockets.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ftp http://www.mulesoft.org/schema/mule/ftp/current/mule-ftp.xsd">
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="f68c87b8-4f12-4dfa-bc92-1f1ce7bd88e6" basePath="/api">
		<http:request-connection host="kp-apiv2-auth.azurewebsites.net" protocol="HTTPS"/>
	</http:request-config>
	<ftp:config name="FTP_Config2" doc:name="FTP Config" doc:id="2ab6c0d6-9141-4e5d-beb2-79578d7395c4" >
		<ftp:connection host="127.0.0.1" username="mSadecki" password="Misiek999$"/>
	</ftp:config>
	<file:config name="File_Config" doc:name="File Config" doc:id="b854dce6-1bb2-4cc6-ab05-d719ea76d23f" >
		<file:connection workingDir="C:\Users\michal.sadecki\AnypointStudio\studio-workspace" />
	</file:config>
	<flow name="training_task01Flow" doc:id="f62e317b-d0a9-4c2b-928e-6e17083ea809" >
		<http:request method="GET" doc:name="Request" doc:id="f7641f27-4816-490b-bbde-44611dd5c531" path="/v2/shops/" config-ref="HTTP_Request_configuration"/>
		<ee:transform doc:name="Transform Message" doc:id="075761de-12b7-40e2-9b80-04e76f81f38d">
			<ee:message>
				<ee:set-payload resource="mapping.dwl" />
			</ee:message>
		</ee:transform>
		<file:write doc:name="Write" doc:id="1ce9656e-838f-4675-8952-093d4e5924a7" path="#['C:/Users/michal.sadecki/AnypointStudio/studio-workspace/training-task01-app/out/shopData_' ++ now() as String {format: &quot;YYYY-MM-dd_HH.mm&quot;} ++ '.json']">
		</file:write>
		<ftp:write doc:name="Write" doc:id="a73be0cd-d1c8-481b-b4ca-3aa311e33fe0" path="#['/shopData_'++ now() as String {format: &quot;YYYY-MM-dd_HH.mm&quot;} ++ '.json']" config-ref="FTP_Config2"/>
		<error-handler>
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="5ee70a2c-b12b-47ef-8322-8b346151e12e" type="HTTP:NOT_FOUND">
				<logger level="ERROR" doc:name="Logger" doc:id="798a27ef-9bd6-420e-b447-0c5e4a8bf489" message="#['HTTP request has not been precessed. ' ++ (error.description default '')]"/>
			</on-error-continue>
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="ee0129e4-15fa-4082-b708-6989ba597704" type="ANY">
				<logger level="ERROR" doc:name="Logger" doc:id="d383b906-1307-4e1f-b1d5-d7d2134cf155" message="#['An error occured: ' ++ (error.description default '')]"/>
			</on-error-continue>
		</error-handler>
	</flow>
</mule>
