src/main/mule/training_task03.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ftp="http://www.mulesoft.org/schema/mule/ftp" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ftp http://www.mulesoft.org/schema/mule/ftp/current/mule-ftp.xsd">
	<flow name="training_task03Flow1" doc:id="67449296-c262-44ec-ab9b-1cdd00b6bf68" >
		<set-variable value="#[message.attributes.uriParams.fileName]" doc:name="Set Variable" doc:id="3e5e80a3-1be8-4bd3-8023-6f7baeaee23a" variableName="fileName"/>
		<ftp:read doc:name="Read" doc:id="786293ea-aef1-4d0b-8b26-d751ee0ad556" config-ref="FTP_Config2" path="#['/' ++ vars.fileName as String ++ '.json']"/>
		<error-handler>
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="38641541-a314-421c-a075-4e21eb935c28" type="ANY">
				<logger level="INFO" doc:name="Logger" doc:id="c88c1fb7-196d-45f7-ab25-5e3f40ee2c43" message="#['An error occured.']"/>
			</on-error-continue>
		</error-handler>
	</flow>
</mule>
